<template>
  <v-layout class="row wrap">
    <v-flex xs12>
      <div class="subheading pb-2">{{ label }}</div>
    </v-flex>
    <v-flex xs5 sm4 md3 lg3>
      <v-dialog ref="dialog" v-model="dialog" width="290px" :return-value.sync="date" 
              persistent lazy full-width>
        <v-text-field slot="activator" label="Date" 
                      v-model="date" prepend-icon="event" readonly>
        </v-text-field>
        <v-date-picker v-model="date" no-title scrollable>
          <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
          <v-btn flat color="primary" @click="changeDate">OK</v-btn>
        </v-date-picker>
      </v-dialog>
    </v-flex>
    <v-flex xs4 sm4 md3 lg3>
      <v-dialog ref="dialog2" v-model="dialog2" width="290px" :return-value.sync="time" 
        persistent lazy full-width>
        <v-text-field slot="activator" v-model="time" label="Time"
                      prepend-icon="access_time" readonly>
        </v-text-field>
        <v-time-picker v-model="time" @change="changeTime"></v-time-picker>
      </v-dialog>
    </v-flex>
    <v-flex xs2 class="pt-3">
      <v-btn small icon @click="setCurrentDateTime">Now</v-btn>
    </v-flex>
  </v-layout>
</template>
<script>
import format from 'date-fns/format'
export default {
  props: ['entryDate', 'label'],
  data () {
    return {
      date: null,
      time: null,
      dialog: false,
      dialog2: false,
      returnValue: null
    }
  },
  watch: {
    entryDate: function (val) {
      this.date = format(val, 'YYYY-MM-DD')
      this.time = format(val, 'HH:mm')
    }
  },
  mounted () {
    if (!this.entryDate) {
      this.setCurrentDateTime()
    }
  },
  methods: {
    changeDate () {
      this.$refs.dialog.save(this.date)
      this.updateReturnValue()
    },
    changeTime () {
      this.$refs.dialog2.save(this.time)
      this.updateReturnValue()
    },
    setCurrentDateTime () {
      this.date = format(new Date(), 'YYYY-MM-DD')
      this.time = format(new Date(), 'HH:mm')
      this.updateReturnValue()
    },
    updateReturnValue () {
      this.returnValue = new Date(this.date)
      let [hh, mm] = this.time.split(':')
      this.returnValue.setHours(hh, mm, '00')
      this.$emit('onSelect', this.returnValue)
    }
  }
}
</script>
