<template>
  <v-container fill-height>
    <v-layout justify-center align-center>
      <v-flex xs12 sm6 md6 lg4>
        <v-card color="green">
          <v-card-title>
            <v-flex xs12 class="mb-4 text-xs-center">
              <div class="headline">Trackie <sup>pro</sup> Login</div>
              <div class="subheading">Your personal health tracker</div>
            </v-flex>
            <v-flex class="text-xs-center">
              <v-btn value='left' @click="signInWithGoogle">
                <span>Login with Google</span>
                 <v-icon large class="pr-2">lock</v-icon>
              </v-btn>
            </v-flex>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import { mapActions } from 'vuex'
  export default {
    data () {
      return {
      }
    },
    methods: {
      ...mapActions([
        'signInWithGoogle'
      ])
    }
  }
</script>
