<template>
  <v-layout row wrap>
    <v-flex>
      <v-card color="blue-grey darken-2" class="white--text">
        <v-card-title primary-title>
          <v-flex xs12>
            <v-text-field label="What did you eat?" 
                          v-model="foodIntake"
                          hint="E.g. 1 x banana, 1 x apple etc."
                          rows="3" multi-line required persistent-hint>
            </v-text-field>
          </v-flex> 
        </v-card-title>
      </v-card>
      <v-divider></v-divider>
      <v-card color="blue-grey darken-2" class="white--text">
        <v-card-title>
          <date-time-selector :entry-date="entryDate"  
                              label="When did you eat?"
                              @onSelect="(val) => { this.entryDate = val }">
          </date-time-selector>
        </v-card-title>
      </v-card>
      <v-btn color="blue" @click.native="saveEntry">
        <v-icon>check</v-icon>
      </v-btn>
      <v-btn color="transparent" @click.native="cancelEntry">
        <v-icon>close</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import _ from 'underscore'
  import DateTimeSelector from './shared/DateTimeSelector'
  export default {
    components: { DateTimeSelector },
    data () {
      return {
        foodIntake: '',
        entryDate: null
      }
    },
    mounted () {
      this.loadEntry()
    },
    computed: {
      ...mapGetters({
        allEntries: 'getEntries'
      }),
      param () {
        return this.$route.params.val
      },
      currentEntry () {
        const entry = this.getEntry(this.param)
        return entry[this.param]
      }
    },
    watch: {
      allEntries: function () {
        this.loadEntry()
      }
    },
    methods: {
      ...mapActions([
        'addEntry',
        'updateEntry'
      ]),
      getEntry (val) {
        return _.pick(this.allEntries, (value, key, object) => key === val)
      },
      loadEntry () {
        if (this.param) {
          if (_.size(this.currentEntry) > 0) {
            this.foodIntake = this.currentEntry.foodIntake
            this.entryDate = this.currentEntry.entryDate
          }
        }
      },
      saveEntry () {
        let entry = {
          type: 'food',
          foodIntake: this.foodIntake,
          entryDate: new Date(this.entryDate).toJSON()
        }
        if (this.param) {
          this.updateEntry({ key: this.param, data: entry })
          this.$router.back()
        } else {
          this.addEntry(entry)
          this.$router.push('/home')
        }
      },
      cancelEntry () {
        this.param ? this.$router.back() : this.$router.push('/home')
      }
    }
  }
</script>