<template>
  <v-container fluid grid-list-xs>
    <v-layout row wrap>
      <v-flex xs12 sm12 md12>
          <div class="headline mt-4">How did you go?</div>
      </v-flex>
      <v-flex xs12>
        <v-btn small color="blue" to="/entries/yesterday">Yesterday</v-btn>
        <v-btn small color="blue" to="/entries/today">Today</v-btn>
        <v-btn small color="blue" to="/entries/thisweek">This week</v-btn>
        <v-btn small color="blue" to="/entries/thismonth">This month</v-btn>
      </v-flex>
    </v-layout>
    
    <v-layout>
      <v-flex xs12>
        <div class="headline pb-4">What do you want to record today?</div>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex>
        <v-card color="green" to="/entries/add/food-entry">
          <v-card-title>
            <v-icon large class="pr-2">local_dining</v-icon>
            <v-flex>
              <div class="title">Food</div>
              <div class="subtitle">What did you eat?</div>
            </v-flex>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex>
        <v-card color="red" to="/entries/add/workout-entry">
          <v-card-title>
            <v-icon large class="pr-2">multiline_chart</v-icon>
            <v-flex>
              <div class="title">Workout</div>
              <div class="subtitle">How much excercise did you do?</div>
            </v-flex>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex>
        <v-card color="blue" to="/entries/add/medicine-entry">
          <v-card-title>
            <v-icon large class="pr-2">link</v-icon>
            <v-flex>
              <div class="title">Meds</div>
              <div class="subtitle">What medicine did you take?</div>
            </v-flex>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 lg12>
        <v-card contain color="purple" to="/entries/add/reading-entry">
          <v-card-title>
            <v-icon large class="pr-2">content_paste</v-icon>
            <v-flex xs10>
              <div class="title">Reading</div>
              <div class="subtitle">
                What was your blood glucose level, blood pressure and weight reading?
              </div>
            </v-flex>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
  }
</script>