<template>
    <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex v-for="med in medsTaken" :key="med.name">
        <v-card color="blue-grey darken-2" class="white--text" height="150px">
            <v-card-title primary-title>
              <div>{{ med.name }} x {{ med.dose }}</div>
            </v-card-title>
            <v-card-actions>
              <v-btn small @click="addDose(med)">
                <v-icon>add</v-icon>
              </v-btn>
              <v-btn small @click="removeDose(med)">
                <v-icon>remove</v-icon>
              </v-btn>
            </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex>
        <v-card color="blue-grey darken-2" class="white--text">
          <v-card-title>
            <v-text-field label="Entry notes" v-model="medsEntryNotes" 
                          rows="3" multi-line>
            </v-text-field>
          </v-card-title>
        </v-card>
        <v-divider></v-divider>
        <v-card color="blue-grey darken-2" class="white--text">
          <v-card-title>
            <date-time-selector :entry-date="entryDate"  
                                label="When did you take your meds?"
                                @onSelect="(val) => { this.entryDate = val }">
            </date-time-selector>
          </v-card-title>
        </v-card>        
        <v-btn color="blue" @click.native="saveEntry">
          <v-icon>check</v-icon>
        </v-btn>
        <v-btn color="transparent" @click.native="cancelEntry">
          <v-icon>close</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import _ from 'underscore'
import DateTimeSelector from './shared/DateTimeSelector'
export default {
  components: { DateTimeSelector },
  data () {
    return {
      medsTaken: [
        { name: 'Thyroxin', dose: 0 },
        { name: 'Metformin 500', dose: 0 },
        { name: 'Ex-forge 500', dose: 0 },
        { name: 'Folate', dose: 0 },
        { name: 'Iron', dose: 0 },
        { name: 'Fish Oil', dose: 0 },
        { name: 'Vitamin D', dose: 0 },
        { name: 'Vitamin D + Calcium', dose: 0 },
        { name: 'Lantus', dose: 0 },
        { name: 'Panadol', dose: 0 }
      ],
      medsEntryNotes: '',
      entryDate: null
    }
  },
  mounted () {
    this.loadEntry()
  },
  computed: {
    ...mapGetters({
      allEntries: 'getEntries'
    }),
    param () {
      return this.$route.params.val
    },
    currentEntry () {
      const entry = this.getEntry(this.param)
      return entry[this.param]
    }
  },
  watch: {
    allEntries: function () {
      this.loadEntry()
    }
  },
  methods: {
    ...mapActions([ 'addEntry', 'updateEntry' ]),
    getEntry (val) {
      return _.pick(this.allEntries, (value, key, object) => key === val)
    },
    loadEntry () {
      if (this.param) {
        if (_.size(this.currentEntry) > 0) {
          _.each(this.currentEntry.medsTaken, m => {
            let index = _.findIndex(this.medsTaken, a => m.name === a.name)
            if (index > -1) this.medsTaken[index].dose = m.dose
          })
          this.medsEntryNotes = this.currentEntry.medsEntryNotes
          this.entryDate = this.currentEntry.entryDate
        }
      }
    },
    addDose (med) {
      med.dose++
    },
    removeDose (med) {
      if (med.dose > 0) med.dose--
    },
    saveEntry () {
      let entry = {
        type: 'medicine',
        medsTaken: this.medsTaken.filter(m => m.dose > 0),
        medsEntryNotes: this.medsEntryNotes,
        entryDate: new Date(this.entryDate).toJSON()
      }
      if (this.param) {
        this.updateEntry({ key: this.param, data: entry })
        this.$router.back()
      } else {
        this.addEntry(entry)
        this.$router.push('/home')
      }
    },
    cancelEntry () {
      this.param ? this.$router.back() : this.$router.push('/home')
    }
  }
}
</script>