<template>
  <v-layout row>
    <v-flex>
      <v-card color="blue-grey darken-2" class="white--text">
        <v-card-title>
          <v-flex xs12 sm12 md12>
            <v-switch label="Blood Glucose Level" 
                      color="light-blue lighten-3" 
                      v-model="bglReading.show" 
                      :disabled="bglReading.disabled">
            </v-switch>
          </v-flex>
          <v-flex xs10 sm10 md10 v-show="bglReading.show">
            <v-slider label="BGL" 
                      :max="bglReading.max"
                      :step="bglReading.step"
                      v-model="bglReading.bgl" 
                      thumb-label ticks>
            </v-slider>
          </v-flex>
          <v-flex xs2 sm2 md2 v-show="bglReading.show">
            <div class="mb-2">
              {{ bglReading.bgl }} {{ bglReading.bglUnit }}
            </div>
          </v-flex>
        </v-card-title>
      </v-card>
      <v-divider></v-divider>
      <v-card color="blue-grey darken-2" class="white--text">
        <v-card-title>
          <v-flex xs12 sm12 md12>
            <v-switch label="Blood Pressure" 
                      color="light-blue lighten-3" 
                      v-model="bpReading.show" 
                      :disabled="bpReading.disabled">
            </v-switch>
          </v-flex>                  
          <v-flex xs10 sm10 md10 v-show="bpReading.show">
            <v-slider label="Systolic" 
                      :max="bpReading.pressureScaleMax"
                      :step="bpReading.step"
                      v-model="bpReading.systolic" 
                      thumb-label ticks>
            </v-slider>
          </v-flex>
          <v-flex xs2 sm2 md2 v-show="bpReading.show">
            <div class="mb-2">
              {{ bpReading.systolic }} {{ bpReading.pressureUnit }}
            </div>
          </v-flex>
          <v-flex xs10 sm10 md10 v-show="bpReading.show">
            <v-slider label="Diastolic" 
                      :max="bpReading.pressureScaleMax"
                      :step="bpReading.step"
                      v-model="bpReading.diastolic" 
                      thumb-label ticks>
            </v-slider>
          </v-flex> 
          <v-flex xs2 sm2 md2 v-show="bpReading.show">
            <div class="mb-2">
              {{ bpReading.diastolic }} {{ bpReading.pressureUnit }}
            </div>
          </v-flex>
          <v-flex xs10 sm10 md10 v-show="bpReading.show">
            <v-slider label="Pulse" 
                      :max="bpReading.pulseScaleMax" 
                      :step="bpReading.step"
                      v-model="bpReading.pulse" 
                      thumb-label ticks>
            </v-slider>
          </v-flex>
          <v-flex v-show="bpReading.show" xs2 sm2 md2>
            <div class="mb-2">
              {{ bpReading.pulse }} {{ bpReading.pulseUnit }}
            </div>
          </v-flex>
        </v-card-title>
      </v-card>
      <v-divider></v-divider>
      <v-card color="blue-grey darken-2" class="white--text">
        <v-card-title>
          <v-flex xs12 sm12 md12>
            <v-switch label="Weight" 
                      color="light-blue lighten-3" 
                      v-model="weightReading.show" 
                      :disabled="weightReading.disabled">
            </v-switch>
          </v-flex>
          <v-flex xs10 sm10 md10 v-show="weightReading.show">
            <v-slider label="Weight" 
                      :max="weightReading.weightScaleMax" 
                      v-model="weightReading.weight" 
                      thumb-label>
            </v-slider>
          </v-flex>
          <v-flex xs2 sm2 md2 v-show="weightReading.show">
            <div class="mb-2">
              {{ weightReading.weight }} {{ weightReading.weightUnit }}
            </div>
          </v-flex>
        </v-card-title>
      </v-card>
      <v-divider></v-divider>
      <v-card color="blue-grey darken-2" class="white--text">
       <v-card-title>
        <date-time-selector :entry-date="entryDate"  
                            label="When did you take the reading?"
                            @onSelect="(val) => { this.entryDate = val }">
        </date-time-selector>
       </v-card-title>
      </v-card>
      <v-btn color="blue" @click.native="saveEntry">
        <v-icon>check</v-icon>
      </v-btn>
      <v-btn color="transparent" @click.native="cancelEntry">
        <v-icon>close</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
// Importing vuex helpers
import { mapGetters, mapActions } from 'vuex'
// Importing underscore for utility functions
import _ from 'underscore'
// Importing our custom reusable component
import DateTimeSelector from './shared/DateTimeSelector'
export default {
  // Child component registration
  components: { DateTimeSelector },
  // Reactive variables to store component data
  data () {
    return {
      bglReading: {
        show: false,
        disabled: false,
        bgl: 0,
        max: 40,
        step: 0.1,
        bglUnit: 'mmol'
      },
      bpReading: {
        show: false,
        disabled: false,
        step: 1,
        systolic: 0,
        diastolic: 0,
        pressureUnit: 'mmHg',
        pressureScaleMax: 300,
        pulse: 0,
        pulseUnit: '/min',
        pulseScaleMax: 300
      },
      weightReading: {
        show: false,
        disabled: false,
        step: 1,
        weight: 0,
        weightUnit: 'kg',
        weightScaleMax: 400
      },
      entryDate: null
    }
  },
  // Call load entry as soon as component is mounted
  mounted () {
    this.loadEntry()
  },
  computed: {
    ...mapGetters({
      allEntries: 'getEntries'
    }),
    param () {
      return this.$route.params.val
    },
    currentEntry () {
      const entry = this.getEntry(this.param)
      return entry[this.param]
    },
    isBGLReadingAvailable () {
      return this.bglReading.show && this.bglReading.bgl > 0
    },
    isBPReadingAvailable () {
      return this.bpReading.show && this.bpReading.systolic > 0 &&
        this.bpReading.diastolic && this.bpReading.pulse
    },
    isWeightReadingAvailable () {
      return this.weightReading.show && this.weightReading.weight > 0
    },
    isBGLEntry () {
      return this.currentEntry.type === 'bgl'
    },
    isBPEntry () {
      return this.currentEntry.type === 'bp'
    },
    isWeightEntry () {
      return this.currentEntry.type === 'weight'
    }
  },
  watch: {
    allEntries: function () {
      this.loadEntry()
    }
  },
  methods: {
    ...mapActions([ 'addEntry', 'updateEntry' ]),
    // Retrieving the entry to be edited
    getEntry (val) {
      return _.pick(this.allEntries, (value, key, object) => key === val)
    },
    // Loading entry information in appropriate panel
    // and disable and hide other panels
    loadEntry () {
      if (this.param) {
        if (_.size(this.currentEntry) > 0) {
          // Hide panel contents
          this.panelVisibility()
          // showing and enabling entry panel selectively
          this.panelAccessibility()
          // loading entry information
          this.loadPanelInfo()
        }
      }
    },
    // Show and hide the panel based on entry type
    panelVisibility () {
      this.bglReading.show = this.isBGLEntry
      this.bpReading.show = this.isBPEntry
      this.weightReading.show = this.isWeightEntry
    },
    // Enable or disable entry panel based on its type
    panelAccessibility () {
      this.bglReading.disabled = !this.isBGLEntry
      this.bpReading.disabled = !this.isBPEntry
      this.weightReading.disabled = !this.isWeightEntry
    },
    // Load panel data based on entry type
    loadPanelInfo () {
      if (this.isBGLEntry) {
        this.bglReading.bgl = this.currentEntry.bgl
      } else if (this.isBPEntry) {
        this.bpReading.systolic = this.currentEntry.systolic
        this.bpReading.diastolic = this.currentEntry.diastolic
        this.bpReading.pulse = this.currentEntry.pulse
      } else if (this.isWeightEntry) {
        this.weightReading.weight = this.currentEntry.weight
      }
      this.entryDate = this.currentEntry.entryDate
    },
    // Get BGL entry to be created or updated
    getBGLEntry () {
      return {
        type: 'bgl',
        bgl: this.bglReading.bgl,
        bglUnit: this.bglReading.bglUnit,
        entryDate: new Date(this.entryDate).toJSON()
      }
    },
    // Get BP entry to be created or updated
    getBPEntry () {
      return {
        type: 'bp',
        systolic: this.bpReading.systolic,
        diastolic: this.bpReading.diastolic,
        pressureUnit: this.bpReading.pressureUnit,
        pulse: this.bpReading.pulse,
        pulseUnit: this.bpReading.pulseUnit,
        entryDate: new Date(this.entryDate).toJSON()
      }
    },
    // Get Weight entry to be created or updated
    getWeightEntry () {
      return {
        type: 'weight',
        weight: this.weightReading.weight,
        weightUnit: this.weightReading.weightUnit,
        entryDate: new Date(this.entryDate).toJSON()
      }
    },
    // Create or update reading entry
    // If route param is provided then update otherwise create new entry
    saveEntry () {
      if (this.param) {
        let entry = this.isBGLEntry ? { key: this.param, data: this.getBGLEntry() }
          : this.isBPEntry ? { key: this.param, data: this.getBPEntry() }
            : this.isWeightEntry ? { key: this.param, data: this.getWeightEntry() }
              : null
        if (entry) this.updateEntry(entry)
        this.$router.back()
      } else {
        if (this.isBGLReadingAvailable) this.addEntry(this.getBGLEntry())
        if (this.isBPReadingAvailable) this.addEntry(this.getBPEntry())
        if (this.isWeightReadingAvailable) this.addEntry(this.getWeightEntry())
        this.$router.push('/home')
      }
    },
    // Cancel making the entry.
    // If route param is provided the send user back to previous screen
    // otherwise send user back to home screen
    cancelEntry () {
      this.param ? this.$router.back() : this.$router.push('/home')
    }
  }
}
</script>