<template>
  <v-layout row wrap>
    <v-flex>
      <v-card color="blue-grey darken-2" class="white--text">
        <v-card-title>
          <v-flex xs12 sm12 md12 lg12>
            <v-text-field label="Which excercises did you do?" 
                          v-model="workoutNotes" rows="3" 
                          hint="E.g. 10 x pushups, 20 x crunches, 5 x pranayam yoga etc."
                          multi-line required persistent-hint>
            </v-text-field>
          </v-flex>
          <v-flex xs10 sm10 md10>
            <v-slider label="Duration" :max="maxTime"
                      :step="interval" v-model="duration" 
                      ticks thumb-label>
            </v-slider>
          </v-flex>
          <v-flex xs2 sm2 md2>
            <div class="mb-2">{{ duration }} mins</div>
          </v-flex>
        </v-card-title>
      </v-card>
      <v-divider></v-divider>
      <v-card color="blue-grey darken-2" class="white--text">
        <v-card-title>
          <date-time-selector :entry-date="entryDate"  
                              label="When did you do the excercise?"
                              @onSelect="(val) => { this.entryDate = val }">
          </date-time-selector>
        </v-card-title>
      </v-card>
      <v-btn color="blue" @click.native="saveEntry">
        <v-icon>check</v-icon>
      </v-btn>
      <v-btn color="transparent" @click.native="cancelEntry">
        <v-icon>close</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import _ from 'underscore'
import DateTimeSelector from './shared/DateTimeSelector'
export default {
  components: { DateTimeSelector },
  data () {
    return {
      workoutNotes: '',
      duration: 0,
      interval: 5,
      maxTime: 120,
      entryDate: null
    }
  },
  mounted () {
    this.loadEntry()
  },
  computed: {
    ...mapGetters({
      allEntries: 'getEntries'
    }),
    param () {
      return this.$route.params.val
    },
    currentEntry () {
      const entry = this.getEntry(this.param)
      return entry[this.param]
    }
  },
  watch: {
    allEntries: function () {
      this.loadEntry()
    }
  },
  methods: {
    ...mapActions([ 'addEntry', 'updateEntry' ]),
    getEntry (val) {
      return _.pick(this.allEntries, (value, key, object) => key === val)
    },
    loadEntry () {
      if (this.param) {
        if (_.size(this.currentEntry) > 0) {
          this.workoutNotes = this.currentEntry.workoutNotes
          this.duration = this.currentEntry.duration
          this.entryDate = this.currentEntry.entryDate
        }
      }
    },
    saveEntry () {
      let entry = {
        type: 'workout',
        workoutNotes: this.workoutNotes,
        duration: this.duration,
        entryDate: new Date(this.entryDate).toJSON()
      }
      if (this.param) {
        this.updateEntry({ key: this.param, data: entry })
        this.$router.back()
      } else {
        this.addEntry(entry)
        this.$router.push('/home')
      }
    },
    cancelEntry () {
      this.param ? this.$router.back() : this.$router.push('/home')
    }
  }
}
</script>
