<template>
  <v-app id="app" dark>    
    <v-toolbar app fixed dense>
      <v-toolbar-title>
        Trackie<sup> pro</sup> 
        <span class="hidden-xs-only subheading"> - Your personal health tracker</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn v-if="hasCurrentUser" value="left" @click="signOut">
        <span class="mr-1">{{ currentUser.displayName }}</span>
        <v-icon>account_circle</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <router-view></router-view>
        <v-snackbar bottom right :color="notification.type" 
                    :timeout="notification.timeout"
                    v-model="notification.show">{{ notification.message }}
        </v-snackbar>
      </v-container>
    </v-content>
    <v-footer app fixed>
      <p class="mt-3 ml-3">Trackie<sup> pro</sup></p> 
    </v-footer> 
  </v-app>
</template>
<script>
// Importing vuex helpers to access getters and actions
import { mapGetters, mapActions } from 'vuex'
// Importing even bus to listen on events
import { Bus } from './libs/bus'
export default {
  data () {
    return {
      // Notification settings
      notification: {
        timeout: 2000,
        show: false,
        type: '',
        message: ''
      }
    }
  },
  computed: {
    // Using vuex mapGetters helper to access getters
    ...mapGetters([
      'currentUser',
      'hasCurrentUser'
    ])
  },
  // Vue component lifecycle hook
  beforeCreate () {
    // Getting the current user directly from store
    const user = this.$store.getters.currentUser
    if (user) {
      this.$store.dispatch('fetchEntries')
    }
  },
  // Vue component lifecycle hook
  mounted () {
    // Listening for 'show-notification' event
    Bus.$on('show-notification', (n) => {
      // Setting notification to show
      this.setNotification(n)
      // Resetting notifiction info after notification is done.
      this.resetNotificationOnTimout()
    })
  },
  methods: {
    // Using vuex mapActions helper to access getters
    ...mapActions([
      'signOut'
    ]),
    // Method to show notifications
    setNotification (n) {
      this.notification.show = true
      this.notification.message = n.message
      this.notification.type = n.type
    },
    // Method to clear notification info on timeout
    resetNotificationOnTimout () {
      window.setTimeout(() => {
        this.notification.show = false
        this.notification.message = ''
        this.notification.type = ''
      }, this.notification.timeout)
    }
  }
}
</script>
